.profile__edit-button {
    position: absolute;
    background-color: black;
    background-image: url(../../../images/icons/button-edit.svg);
    background-size: 8px 8px;
    background-position: center;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    top: 9px;
    right: -18px;
    padding: 0;
}

@media screen and (min-width: 962px) {
    .profile__edit-button {
        background-size: 10px 10px;
        width: 24px;
        height: 24px;
        top: 14px;
        right: -48px;
    }
}