.footer__author {
    font-style: normal;
    line-height: 17px;
    font-size: 14px;
    font-weight: normal;
    color: #545454;
}

@media screen and (min-width: 962px) {
    .footer__author {
        line-height: 22px;
        font-size: 18px;
    }
}