.popup__item {
    border: 0;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    background-color: transparent;
    line-height: 36px;
    font-size: 14px;
    font-family: inherit;
    margin-bottom: 18px;
}

.popup__item:last-of-type {
    margin-bottom: 42px;
}

.popup__item:focus {
    outline-color: #7fa2f7;
}

@media screen and (min-width: 962px) {
    .popup__item:last-of-type {
        margin-bottom: 45px;
    }
}